<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">  <!-- 定义字符编码 -->
    <title>Title</title>
</head>
<body>
<div>  <!-- 独占一行 [块级标签]-->
    Welcome to my website
    <a href="https://www.dswxyjy.org.cn/n1/2023/1216/c427167-40140343.html">求是网 </a>
    <img style=" hight: 500px; width: 500px;" src="/static/wallhaven-x6e13v_3840x2160.png"/>
</div>

<div>  <!-- 独占一行 -->
    This is a paragraph.
</div>

<span>  <!-- 自己多大占多少；行内标签 [内联标签] -->
      Welcome to my website
  </span>
<span>  <!-- 行内标签 [内联标签] -->
      This is a paragraph.
  </span>

<h1>文明列表</h1>
<ul>
    <li>周</li>
    <li>秦</li>
    <li>汉</li>
    <li>唐</li>
</ul>
<h1>诸子百家</h1>
<ol>
    <li>法家</li>
    <li>墨家</li>
    <li>阴阳家</li>
    <li>纵横家</li>
</ol>
<h1> 各派系表</h1>
<table>
    <thead> <tr> <th>派别</th>  <th>主张</th>  <th>代表人物</th> </tr></thead>
    <tbody>
            <tr> <td>儒家</td>  <td>德治、仁政</td>  <td>孔子、孟子、荀子</td></tr>
            <tr> <td>道家</td>  <td>道法自然</td>  <td>老子、庄子、慎到</td></tr>
            <tr> <td>法家</td>  <td>以法治国(法、势、术)</td>  <td>商鞅、韩非</td></tr>
            <tr> <td>阴阳家</td>  <td>阴阳五行、天文历数</td>  <td>邹衍</td></tr>
            <tr> <td>兵家</td>  <td>兵权谋家、兵形势家、兵阴阳家、兵技巧家</td>  <td>孙武、孙膑</td></tr>
            <tr> <td>纵横家</td>  <td>纵横捭阖、合纵连横</td>  <td>鬼谷子、张仪、苏秦</td></tr>
    </tbody>
</table>


<h1>输入框</h1>
<input type="text" />
<input type="password" />
<input type="file" />

<input type="radio" name = 'n'/>
<input type="radio" name = 'n'/>

<input type="checkbox"/>苏秦
<input type="checkbox"/>张仪
<input type="checkbox"/>白起
<input type="checkbox"/>乐毅
<input type="checkbox"/>孙膑
<input type="checkbox"/>吴起
<input type="checkbox"/>廉颇

<input type="button" value="提交"/>  <!--普通按钮-->
<input type="submit" value="提交"/>  <!--提交表单-->

<h1>下拉框</h1>

<select>
    <option>北京</option>
    <option>上海</option>
    <option>广州</option>
    <option>深圳</option>
</select>
<select multiple>
    <option>北京</option>
    <option>上海</option>
    <option>广州</option>
    <option>深圳</option>
</select>

<h1>多行文本</h1>
    <textarea></textarea>
    <textarea rows="4"></textarea>

</body>
</html>