<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>专题</h1>  <!-- 加上target="_blank"可以在新标签页面打开-->
<a href=" http://hrczh.cass.cn/ywdt_135233/yw/202306/t20230612_5644576.shtml" target="_blank">
    <img src="/static/W020230808651974296965.jpg" style="width :700px;height: 300px;">
</a>
<a href="http://hrczh.cass.cn/ywdt_135233/zt/jszhmzxdwm/xxwhccfzzth/" target="_blank">
    <img src="/static/W020230808572797886415.jpg" style="width :700px;height: 300px;">
</a>
</body>
</html>