<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>用户注册</h1>
<div>
    用户名：<input type="text"/>
</div>

<div>
    密码：<input type="password"/>
</div>

<div>
    性别：
    <input type="radio">男
    <input type="radio">女
</div>

<div>
    请选择你的英雄：
    <input type="checkbox"/>苏秦
    <input type="checkbox"/>张仪
    <input type="checkbox"/>白起
    <input type="checkbox"/>乐毅
    <input type="checkbox"/>孙膑
    <input type="checkbox"/>吴起
    <input type="checkbox"/>廉颇
</div>

<div>
    城市：
    <select>
        <option>北京</option>
        <option>上海</option>
        <option>广州</option>
        <option>深圳</option>
    </select>
</div>

<div>
    <input type="button" value="提交">
    <input type="submit" value="提交">
</div>

</body>
</html>