<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1> 诸子百家 </h1>
  <table>
    <thead>
      <tr> <th>派别</th>  <th>主张</th>  <th>代表人物</th> </tr>
    </thead>

    <tbody>
            <tr> <td><a href="https://baike.baidu.com/item/%E5%84%92%E5%AE%B6/945629">儒家</a></td>  <td>德治、仁政</td>  <td>孔子、孟子、荀子</td></tr>
            <tr> <td><a href="https://baike.baidu.com/item/%E9%81%93%E5%AE%B6/131309">道家</a></td>  <td>道法自然</td>  <td>老子、庄子、慎到</td></tr>
            <tr> <td><a href="https://baike.baidu.com/item/%E6%B3%95%E5%AE%B6/425255">法家</a></td>  <td>以法治国(法、势、术)</td>  <td>商鞅、韩非</td></tr>
            <tr> <td><a href="https://baike.baidu.com/item/%E9%98%B4%E9%98%B3%E5%AE%B6/84179">阴阳家</a></td>  <td>阴阳五行、天文历数</td>  <td>邹衍</td></tr>
            <tr> <td><a href="https://baike.baidu.com/item/%E5%85%B5%E5%AE%B6/3435179">兵家</a></td>  <td>兵权谋家、兵形势家、兵阴阳家、兵技巧家</td>  <td>孙武、孙膑</td></tr>
            <tr> <td><a href="https://baike.baidu.com/item/%E7%BA%B5%E6%A8%AA%E5%AE%B6/87776">纵横家</a></td>  <td>纵横捭阖、合纵连横</td>  <td>鬼谷子、张仪、苏秦</td></tr>
    </tbody>
  </table>
</body>
</html>